*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*navigation bar*/
body{
    font-family: sans-serif;
}
#logo{
    height:100px;
    position:absolute;
    top:-25px;
    float:left ;
  }
#logoWrapper{
    
    margin-bottom:20px;
    display:inline-block;
    position:relative;
    width:150px;
  }
nav{
    background-color: #1F2839;
    padding: 5px 20px;
}
ul{
    list-style-type: none;
}
a{
    color:aliceblue;
    text-decoration: none;
}

.item:hover{
    background-color: #07090f;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
}
.menu li a{
    display: block;
}

.log a{
    font-size: 20px;
}

/* mobile menu*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:600px){
    .menu{
        display:flex;
        flex-direction: column;
    }
}

*{
    box-sizing: border-box;
}
body{
    background-color:  #F5F5EF;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height of the body to 100% of viewport height */
    margin: 0;
}
main{
    /*margin-top: auto; /* Push main content to the top, pushing footer to the bottom 
    max-height: auto; */
    flex-grow: 1; /* Let main fill the remaining space */
    padding-top: 10px; /* Add some padding to separate content from header */
    padding-bottom: 10px;
}

footer{
    background-color: #1F2839;
    width: 100%;
    height: 10vh;
    clear: both;
    margin:0;
    padding: 0;
}
footer h4{
    display: flex;
    justify-content: center;
    padding: 2em;
}


